<app-card titulo="Primeiro Componente" cor="pink">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando conhecimentos em templetes" cor="purple">
    <app-segunda-componente></app-segunda-componente>
</app-card>

<app-card titulo="Pipes" cor="purple">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Pipes" cor="purple">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two Way data binding" cor="purple">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando Listas" cor="purple">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componentes personalizados" cor="purple">
    <app-componente-personalizado nome="Adria" sobrenome="Côrtes"></app-componente-personalizado>
    <app-componente-personalizado nome="Maria" sobrenome="Côrtes"></app-componente-personalizado>
</app-card>

<app-card titulo="Compartilhando dados entre componentes" cor="purple">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Serviços" cor="purple">
    <app-exemplo-servico1></app-exemplo-servico1>
    <app-exemplo-servico2></app-exemplo-servico2>
</app-card>

<app-card titulo="Ciclo de vida" cor="purple">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>








